/* GALLERY COMPONENT MAIN gallery VIEW CSS */
/* GRID CSS FOR THE 'gallery' GRID IS COMING FROM ImageSearch.css */

#gallery-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

#gallery-profile-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gallery-profile-container > img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#gallery-profile-container > div p {
    margin: 5px 0;
}
#gallery-profile-container > div p:first-child {
    font-weight: bold;
}

.profile-bio-text {
    font-size: 9px;
    color: rgb(115, 115, 115);
}

.grid-brick-img-container > img {
    cursor: pointer;
}

/* VIEW SWITCH CONTAINER CSS */

div#gallery-options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}


.gallery-button-view {
    display: inline-block;
    background-color: transparent;
    color: #737373;
    padding: 0px;
    margin: 0px;
    font-size: 9.5px;
    border-radius: 0px;
    text-align: left;
    width: 55px;
    height: 30px;
    font-size: 12px;
}

.gallery-button-view.active {
    background-color: transparent;
    color: black;
}



#new-user-message {
    margin-top: 50px;
    font-style: italic;
}
