.grid-container-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 50px;
    width: 100%;
}

.grid-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.grid-profile-img-container {
    width: 260px;
    height: 175px;
}

.grid-profile-img-container > img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: fill;
}

#create-post-gallery-button {
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    min-width: 66px;
    padding: 8px 12px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 30px;
    margin-top: 10px;
}


@media (max-width: 1443px) {
    .grid-container-main {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1137px) {
    .grid-container-main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 871px) {
    .grid-container-main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 559px) {
    .grid-container-main {
        grid-template-columns: repeat(1, 1fr);
    }
}
