/* #search-component-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    border: 1px solid green;
} */

#search-bar-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    /* border: 2px solid purple; */
}

#search-container {
    margin-bottom: 5px;
}

#search-container > input {
    border: 1px solid white;
    margin-left: 30px;
    padding-bottom: 5px;
    width: 300px;
    border-bottom:  1px solid rgba(128, 128, 128, 0.5);
}

#search-container > input:focus {
    border-color: transparent;
    outline: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

#search-container > input::placeholder {
    font-size: 18px;
}


#search-options-container {
    display: flex;
    gap: 5px;
    margin-right: 140px;
}

.search-button-view {
    background-color: transparent;
    color: #737373;
    padding: 0px;
    margin: 0px;
    font-size: 9.5px;
    border-radius: 0px;
    text-align: left;
    width: 40px;
    height: 30px;
}

.search-button-view.active {
    background-color: transparent;
    color: black;
}
