/* NAVIGATION STUFF */

#navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  top: 0;
  background-color: #070707;
  z-index: 100;
}

#navbar > div > a:hover {
  color: rgb(212, 209, 209);
}


#main-navbar-buttons > a:last-child.profile-signed-in {
  color: white;
  font-weight: 700;
  background-color: rgb(45, 45, 209);
  padding: 10px;
  border-radius: 999px;
    align-items: center;
    padding: 8px 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.33;
}

#main-navbar-buttons > a:last-child.profile-signed-out {
  color: black;
  font-weight: 700;
  background-color: #edba58;
  padding: 10px;
  border-radius: 999px;
    align-items: center;
    padding: 8px 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.33;
}

#main-navbar-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 10px;
  /* border: 1px solid red; */
}

.WSCO {
  font-size: 23px;
  font-weight: bold;
  color: white;
  font-style: italic;
}



/* PROFILE DROPDOWN */

.profile-dropdown-main-container {
  padding: 0px 0px;
  margin: 0px 0px;
  width: 100px;
}


.profile-dropdown {
  width: 400px;
  background-color: black;
  height: 100vh;
  margin: 0px 0px;
  padding: 0px 0px;
  z-index: 4;
}

.profile-dropdown {
  animation: slideLeft 0.4s ease-in-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(600px);
  }
  to {
    transform: translateX(-10px);
  }
}


.profile-dropdown2 {
  animation: slideRight 0.4s ease-in-out;
}

@keyframes slideRight {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(600px);
  }
}

.profile-dropdown2 {
  width: 300px;
  background-color: black;
  height: 100vh;
  margin: 0px 0px;
  padding: 0px 0px;
  z-index: 4;
}

.hidden2 {
  display: none;
}


#search-bar-user-dropdown-container {
  display: flex;
}

svg {
  color: white;
  fill: currentColor;
  position: absolute;
  top: 15px;
  right: 65px;
  width: 24px;
  height: 24px;
  padding: 10px;
  /* border: 1px solid red; */
  cursor: pointer;
}

/* .side-bar-scroll {
  display: flex;
  align-items: center;
  border-radius: none;
} */

.dropdown-button {
  color: transparent;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

.two-lines:first-child {
  margin-top: 20px;
}

.two-lines {
  border-bottom: 2px solid white;
  padding-bottom: 6px;
  width: 20px;
  margin-right: 25px;
}

svg {
  z-index: -5;
}

.buttons-in-scroll-popup > button {
  padding: 0px 0px;
  margin: 0px 0px;
  border-bottom: 1px solid white;
  border-radius: 0px;
  width: 80%;
}

#exit-scoll-popup {
  padding: 0px;
  margin: 0px;
  text-align: right;
  margin-right: 25px;
  padding-top: 10px;
}
