.profile-dropdown {
  /* position: absolute; */
  width: 10vw;
  background-color: black;
  height: 100vw;
}

.hidden {
  display: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: 48px;
  /* border: 2px solid green; */
}

#main-navbar-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 10px;
  /* border: 1px solid red; */
}

.WSCO {
  font-size: 20px;
  font-weight: bold;
}

.side-bar-scroll {
  background-color: black;
  position: absolute;
  right: 0px;
  /* border: 1px solid red; */
}

.fa-user-circle {
  position: static;
  left: -20px;
}

svg {
  color: black;
  fill: currentColor;
  position: absolute;
  top: 4px;
  right: 90px;
  width: 24px;
  height: 24px;
  padding: 10px;
  /* border: 1px solid red; */
  cursor: pointer;
}

#search-bar-user-dropdown-container {
  display: flex;
}
