#navbar {
  display: flex;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  top: 0;
  background-color: #070707;
  z-index: 100;
}

#navbar > div > a:hover {
  color: rgb(212, 209, 209);
}


.profile-dropdown {
  width: 10vw;
  background-color: black;
  height: 100vw;
}

.hidden {
  display: none;
}

#main-navbar-buttons > a:last-child {
  color: white;
  font-weight: 700;
}

#main-navbar-buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 10px;
  /* border: 1px solid red; */
}

.WSCO {
  font-size: 23px;
  font-weight: bold;
  color: white;
  font-style: italic;
}

/* PROFILE DROPDOWN */


#profile-dropdown-main-container > button:focus {
  border-radius: 0px;
  transition: transform 1s ease;
  transform: translateX(-100px);
}


#search-bar-user-dropdown-container {
  display: flex;
}

svg {
  color: white;
  fill: currentColor;
  position: absolute;
  top: 15px;
  right: 65px;
  width: 24px;
  height: 24px;
  padding: 10px;
  /* border: 1px solid red; */
  cursor: pointer;
}

.side-bar-scroll {
  display: flex;
  align-items: center;
  border-radius: none;
}

.dropdown-button {
  color: transparent;
  background-color: transparent;
}

/* .fa-user-circle {
  border-radius: none;
  background-color: none;
} */


.two-lines {
  border-bottom: 2px solid white;
  padding-bottom: 6px;
  width: 20px;
}
